:root {
  --primary: rgba(12, 136, 166, 1);
  --secondary: rgba(25, 31, 33, 1);
  --tertiary: rgba(50, 154, 78, 1);
  --font: rgba(23, 23, 23, 1);
}

* {
  font-family: Arial, Helvetica, sans-serif !important;
}

#forecast {
  position: relative;
  right: -4%;
}

#header {
  color: var(--font);
}

#search-list {
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
}

#today {
  border-radius: 5px;
}

h1 {
  margin-bottom: 0%;
  color: var(--primary);
}

body {
  margin: 0;
  background-color: var(--tertiary);
}